body, html
    height: 100%

body
    margin: 0
    font-family: Roboto, "Helvetica Neue", sans-serif

.content
    padding: 16px 32px
    max-width: 960px
    margin: 32px auto 0
    display: flex
    flex-flow: column
    box-shadow: 4px 16px 20px 0 #0000003d
    background-color: #191919



