/* You can add global styles to this file, and also import other style files */


.content
  padding: 16px 32px
  max-width: 960px
  margin: 32px auto 0
  display: flex
  flex-flow: column
  box-shadow: 4px 16px 20px 0 #0000003d;
  background-color: #191919;



